@model List<MVCapp.Models.Kurs>

<h1>Kursy</h1>

<div>
    <ul>
        @foreach(var item in Model)
        {
            <li>
               @Html.Partial("_CzastkowyModelKurs",item)
            </li>
        }
    </ul>
</div>
<div>
    @Html.Action("PobierzGodzinePartial")
</div>
<div>
    @Html.Action("PobierzGodzine")
</div>