@model MVCapp.Models.Kontakty


@{
    ViewBag.Title = "Home Page";
}
@*@*<div>
    @{ 
        foreach(var kontakt in ViewBag.Kontakty)
        {
            <p>
                @kontakt.Imie,@kontakt.Nazwisko,@kontakt.Miasto,@kontakt.Ulica
            </p>
        }
    }
</div>*@

@Model.Imie
<br />

@Model.Nazwisko
<form action="/Home/ParametrsBindingToClass0" method="post">
    <label for="albumTitle">Tytuł:</label>
    <input type="text" name="Tytuł" id="Tytul" />

    <label for="autor">Autor:</label>
    <input type="text" name="Autor" id="Autor" />

    <label for="price">Cena:</label>
    <input type="text" name="Cena" id="Cena" />

    <input type="submit" value="Wyślij" />


</form>