
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PRG</title>
</head>
<body>
    <div> 
        Formularz został wysłany !!!
        <div>@ViewBag.Parametr</div>
    </div>
</body>
</html>
