@model IEnumerable<MVCapp.Models.Osoba>


<form id="search-form" method="get" data-ajax="true" data-ajax-target="#listaOsob-selection" data-ajax-update="#listaOsob-selection" >
    <input id="Szukaj" name="szukaj" data-autocomplete-source="@Url.Action("OsobaPropozycje")" placeholder="Wprowadz imie lub nazwisko" />
    <input type="submit" value="Filtruj" />

</form>

<br />
@Html.Partial("_ListaOsob")

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    var setupAutoComplete = function () {
        var $input = $('#Szukaj');
        var options = {
            source: $input.attr("data-autocomplete-source"),
            select: function (event, ui) {
                $input.val(ui.item.label);
                var $form = $input.parents("form:first");
                $form.submit();
            }

        };
        $input.autocomplete(options);
    }
    setupAutoComplete();
</script>
