@model MVCapp.Models.Liczniki
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("LicznikStatyczny", "Licznik"))
        {
            <div>
                Licznik Kliknieć (zmienna statyczna)
                <input type="submit" value="Inkrementuj" />
                <div>@Model.LicznikStatyczny</div>
            </div>
        }
    </div>
    <div>
        @using (Html.BeginForm("LicznikApplication", "Licznik"))
        {
            <div>
                Licznik Kliknieć (zmienna Application)
                <input type="submit" value="Inkrementuj" />
                <div>@Model.LicznikApplication</div>
            </div>
        }
    </div>
    <div>
        @using (Html.BeginForm("LicznikSesji", "Licznik"))
        {
            <div>
                Licznik Kliknieć (zmienna Sesji)
                <input type="submit" value="Inkrementuj" />
                <div>@Model.LicznikSesji</div>
            </div>
        }
    </div>


</body>
</html>
